@using System.Reflection
@using App.CMS.Controllers.Attributes
@using App.CMS.Models
@using App.CMS.Repositories.CmsModels
@using App.CMS.StaticHelpers
@using App.CMS.ViewModels.Properties
@inject TypesOptions TypesOptions
@inject ICmsCmsModelRepository ModelRepository

@model dynamic

@{
    Layout = "~/CMS/Views/Shared/_LayoutCms.cshtml";
    ViewData["isEditing"] = true;

    var type = (Type)Model.GetType();
    var properties = ReflectionHelper.GetPropertiesInView(type, ViewData).ToList();

    var nameType = (string)ViewBag.NameType;
    var cmsSection = ModelRepository.GetByClass(nameType);

    var stringType = typeof(string);

    var modelId = ((IEntity)Model)?.Id;

    ViewData["TitleToTopLabelE"] = "Редактирование " + cmsSection.Title;

    var other = properties.Where(w => w.PropertyType != TypesOptions.File && w.PropertyType != TypesOptions.Image && w.PropertyType != TypesOptions.ListImage).ToList();

    var isSingleObject = type.GetCustomAttribute<SingleObjectAttribute>() != null;
}


<div class="offset-md-1 col-md-10">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <h2>Редактирование</h2>
            </div>
            <div class="offset-md-6 col-md-2">
                @if (!isSingleObject)
                {
                    <h4>
                        <a asp-action="GetList" asp-route-type="@(nameType)">Вернуться к списку</a>
                    </h4>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
    <div class="col-md-12">
        <h4>@(cmsSection.Title)</h4>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>

    @await Html.PartialAsync("~/CMS/Views/Shared/Properties/FilesProperties.cshtml", Model, ViewData)

    @await Html.PartialAsync("~/CMS/Views/Shared/Properties/ImagesProperties.cshtml", Model, ViewData)

    @await Html.PartialAsync("~/CMS/Views/Shared/Properties/GalleryImagesProperty.cshtml", Model, ViewData)

    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-md-12">
                    <div class="form-group col-md-4 offset-md-2" style="margin-top: 60px; margin-bottom: 50px;">
                        <input type="submit" value="Сохранить изменения" class="btn btn-primary"/>
                    </div>
                </div>
                <div style="display: none" id="fileHiddenInputs"></div>
                <div style="display: none" id="imagesHiddenInputs"></div>

                @Html.Hidden("type", type.Name)
                @Html.Hidden("id", modelId)

                @foreach (var propertyInfo in other)
                {
                    <div class="col-md-12" style="margin-bottom: 30px;">
                        @{
                            var name = ReflectionHelper.GetNameProperty(propertyInfo);
                            var propertyType = propertyInfo.PropertyType;
                            var isHtml = ReflectionHelper.IsHtml(propertyInfo);
                            var isArray = ReflectionHelper.IsArray(propertyInfo);
                        }

                        <div class="form-group">
                            <div class="col-md-2">
                                <span style="font-weight: bold">
                                    @Html.DisplayName(name)
                                </span>
                            </div>
                            <div class="col-md-10">
                                @if (isHtml)
                                {
                                    @await Html.PartialAsync("~/CMS/Views/Shared/Properties/HtmlProperty.cshtml", new PropertyViewModel(Model, propertyInfo))
                                }
                                else if (isArray)
                                {
                                    @await Html.PartialAsync("~/CMS/Views/Shared/Properties/OneToManyProperty.cshtml", new PropertyViewModel(Model, propertyInfo))
                                }
                                else if (propertyType.IsClass && propertyType != stringType)
                                {
                                    @await Html.PartialAsync("~/CMS/Views/Shared/Properties/OneToOneProperty.cshtml", new PropertyViewModel(Model, propertyInfo))
                                }
                                else if (propertyType.IsEnum)
                                {
                                    @await Html.PartialAsync("~/CMS/Views/Shared/Properties/EnumProperty.cshtml", new PropertyViewModel(Model, propertyInfo))
                                }
                                else
                                {
                                    @await Html.PartialAsync("~/CMS/Views/Shared/Properties/SimpleTypeProperty.cshtml", new PropertyViewModel(Model, propertyInfo))
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group col-md-4 offset-md-5" style="margin-top: 60px; margin-bottom: 50px;">
                    <input type="submit" value="Сохранить изменения" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>