@model App.CMS.ViewModels.OneToManySingleImage

@{
    Layout = null;
    var divId = $"{Model.Id}OneToManyDiv{Model.LinkPropertyName}";
}

<div style="margin-top: 20px; margin-bottom: 20px" id="@(divId)">
    <img src="@(Model.Url)" style="max-height: 400px; max-width: 900px; margin-bottom: 10px" alt="Изображение" />
    
    <input type="hidden" value="@(Model.Id)" name="id" />
    <input type="submit" value="Удалить изображение" class="btn btn-primary" onclick="removeOneToManyImageModel('@(Model.Id)', '@(divId)')"/>
</div>


<script>
    function removeOneToManyImageModel(id, divId) {
        const formData = new FormData();
        
        formData.append("id", id);

        $.ajax({
            url: "/HomeCms/RemoveOneToManyImage",
            type: "POST",
            contentType: false,
            data: formData,
            cache: false,
            processData: false,
            async: true,
            success: function () {
                document.getElementById(divId).remove()
            }
        });
    };
</script>