@inject CatsoftContext DbCatsoftContext
@using System.Globalization
@using App.cms.Helpers
@using App.cms.Models
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using Microsoft.AspNetCore.Http
@using Options = App.cms.Options.Options
@model App.ViewModels.Booking.BookingPageViewModel
@inject TextResourceRepository TextResourceRepository
@inject IBookingSelectionCookieRepository bookingSelectionCookieRepository
@inject ILanguageCookieRepository LanguageCookieRepository
@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = null;

    var selection = bookingSelectionCookieRepository.GetValue();

    var selectedTimes = Model.AvailableAppointTimes
        .Where(w => selection.SelectedAppointTimeIds.Contains(w.AppointTime.Id))
        .OrderBy(w => w.AppointTime.Date)
        .ThenBy(w => w.AppointTime.TimeStart)
        .ToList();

    var options = Enumerable.Range(1, 4);


    var sum = selectedTimes.Sum(w => w.AppointTime.Price) * selection.PeopleCount;

    var totalSum = " " + await TextResourceRepository.GetByTagAsync("total sum: " + Options.Currency + sum);

    var continueText = await TextResourceRepository.GetByTagAsync("Book");
}
@if (Options.IsBookingEnabled)
{
    <div class="container-fluid text-center bg-info text-white">
        <div class="container py-5" id="booking_selected">
            <div class="row pb-2">
                <p>
                    <span class="fw-bold fs-3 text-center">@await Html.RenderText("Selected times")</span>
                </p>
            </div>

            <div class="row text-center">
                <span class="fs-3 col-2 text-center">@await Html.RenderText("Person count")</span>
                <div class="col-2 offset-1">
                    <select class="form-select" aria-label="@await TextResourceRepository.GetByTagAsync("Select stations count")" onchange="changeSelection(this)">
                        @foreach (var i in options)
                        {
                            <option @(i == selection.PeopleCount ? "selected" : "") value="@i">@i</option>
                        }
                    </select>
                </div>

                <div class="col-4 offset-2 text-white fs-3 pb-3 fw-bold text-center">
                    @totalSum
                </div>
            </div>

            <div class="row">
                @foreach (var time in selectedTimes)
                {
                    var isSelected = true;
                    var color = isSelected ? "bg-primary" : "bg-dark";

                    <div class="col rounded @color text-white py-2 me-3 mb-3 time-selection pe-auto" role="button" datauuid="@time.AppointTime.Id">
                        <p>
                            <span class="fs-6 text-center">@(time.AppointTime.FormattedShortDate(LanguageCookieRepository))</span>
                            <br/>
                            <span class="fw-bold fs-4 text-center">@time.AppointTime.TimeStart</span>
                            <br/>
                            <span class="fw-bold fs-4 text-center">@time.AppointTime.TimeEnd</span>
                            <br/>
                            <span class="fs-6 text-center">@(time.AppointTime.FormattedPrice())</span>
                        </p>
                    </div>
                }
            </div>

            <form class="pt-5" asp-action="EnterPersonDetails" asp-controller="Booking" method="post" enctype="multipart/form-data">
                <input type="submit" class="btn btn-primary rounded-pill pb-2 fs-3 pe-5 ps-5 text-center" value="@continueText" style="min-width: 350px;"/>
            </form>
        </div>
    </div>

    <script>
        function changeSelection(selected) {
            var url = '@Url.Action("SetPersonCount", "Booking")';
            var data = {
                personCount: selected.value
            };
            $.post(url, data, function () {
                location.reload();
            });
        }
    </script>
}