@inject CatsoftContext DbCatsoftContext
@inject TextResourceRepository TextRepository
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.Models
@using Microsoft.IdentityModel.Tokens
@model App.ViewModels.Accounting.TransactionViewModel

@{
    Layout = null;
    var color = "";
    var now = DateOnly.FromDateTime(DateTime.Now);
    var tx = Model.TransactionModel;
//  дата до и после сегодня
// оплачено или нет
// шаблон или нет
// есть счет или нет

    // шаблон
    if (tx.IsTemplate && tx.IsRecurring)
    {
        color = "bg-secondary text-white";
    } else if (tx.IsPaid && Model.HaveBill())
    {
        color = "bg-success text-white";
    } else 
    // просроченные  
    if (now >= tx.Date)
    {
        if ((!Model.HaveBill() || !tx.IsPaid))
        {
            color = "bg-danger text-white";
        }
    }
    else
    {
        if(tx.IsPaid && !Model.HaveBill())
        {
            color = "bg-warning text-dark";
        }
    }

    if (color.IsNullOrEmpty())
    {
        color = "bg-info text-white";
    }
}

<a class="row @color" href="/Accounting/TransactionDetails?transactionUuid=@(Model.TransactionModel.Id)">
    <div class="col-auto col">
        <span class="fs-5">@Model.GetDate()</span>
    </div>
    <div class="col">
        <span class="fs-5">@Model.AccountFromName()</span>
    </div>
    <div class="col">
        <span class="fs-5">@Model.AccountToName()</span>
    </div>
    <div class="col">
        <span class="fs-5">@Model.GetCategoryName()</span>
    </div>
    <div class="col">
        <span class="fs-5">@Model.GetAmount()</span>
    </div>
    <div class="col d-flex flex-row">
        @if (Model.HaveBill())
        {
            @foreach(var bill in Model.GetBillLinks())
            {
                <form action="@bill" method="get" target="_blank">
                    <input type="submit" value="@await TextRepository.GetByTag(Context, "Bill")" name="Submit" id="frm1_submit"  class="btn btn-primary" />
                </form>
            }
        }
    </div>
    <div class="col col-auto row">
        <div class="col">
            @using (Html.BeginForm("TransactionEditCreate", "Accounting", FormMethod.Get))
            {
                <input id="transactionUuid" name="transactionUuid" value="@Model.TransactionModel.Id.ToString()" hidden="hidden"/>
                <button class="btn btn-secondary" type="submit">@await Html.RenderText("Edit")</button>
            }
        </div>
        <div class="col">
            @if (!Model.TransactionModel.IsPaid)
            {
                @using (Html.BeginForm("TransactionPay", "Accounting", FormMethod.Post))
                {
                    <input id="transactionUuid" name="transactionUuid" value="@Model.TransactionModel.Id.ToString()" hidden="hidden"/>
                    <button class="btn btn-success" type="submit">@await Html.RenderText("Pay")</button>
                }
            }
        </div>
        <div class="col">
            @using (Html.BeginForm("TransactionDelete", "Accounting", FormMethod.Post))
            {
                <input id="transactionUuid" name="transactionUuid" value="@Model.TransactionModel.Id.ToString()" hidden="hidden"/>
                <button class="btn btn-danger" type="submit">@await Html.RenderText("Delete")</button>
            }
        </div>
    </div>
    <hr/>
</a>