@inject Context DbContext
@using App.Models
@model App.ViewModels.Contacts.ContactsPageViewModel

@{
    Layout = null;
}

<div id="contacts" class="contacts-container container clr">

    <h2 class="title">Контакты</h2> <br/>

    <div class="foot-l">

        @if (!string.IsNullOrWhiteSpace(Model.Page.Address))
        {
            <div class="address-wrap">
                <h6 class="subTitle">Местоположение</h6>
                <p>@Model.Page.Address</p>
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Page.InstaLink) && !string.IsNullOrWhiteSpace(Model.Page.VkLink))
        {
            <div class="soc-wrap">
                <h6 class="subTitle">Мы в социальных сетях</h6>

                @if (!string.IsNullOrWhiteSpace(Model.Page.InstaLink))
                {
                    <a href="@Model.Page.InstaLink">@Model.Page.InstaLink</a>
                    <br/>
                }

                @if (!string.IsNullOrWhiteSpace(Model.Page.VkLink))
                {
                    <a href="@Model.Page.VkLink">@Model.Page.VkLink</a>
                    <br/>
                }

            </div>
        }

    </div>

    <div class="foot-r">

        @if (Model.Page.PhoneModels.Count > 0)
        {
            <div class="phones-wrap">
                <h6 class="subTitle">Телефоны</h6>
                @foreach (var phone in Model.Page.PhoneModels)
                {
                    <a href="tel:@phone.Phone">@phone.Phone</a>
                    <br/>
                }
            </div>
        }

        @if (Model.Page.EmailModels.Count > 0)
        {
            <div class="phones-wrap">
                <h6 class="subTitle">Emails</h6>
                @foreach (var email in Model.Page.EmailModels)
                {
                    <a href="mailto:@email.Email">@email.Email</a>
                    <br/>
                }
            </div>
        }

    </div>

</div>