@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.Models
@model App.ViewModels.Contacts.ContactsPageViewModel

@{
    Layout = null;
}

<div id="contacts" class="contacts-container container clr py-5">

    <h2 class="title">@await Html.RenderText("Contacts")</h2> <br/>

    <div class="foot-r">

        @foreach (var item in Model.Contacts)
        {
            switch (item.ContactType)
            {
                case ContactType.Phone:
                    <div class="phones-wrap">
                        <h6 class="subTitle">@await Html.RenderText("Phone numbers")</h6>
                        <a href="tel:@item.Link">@item.Link</a>
                        <br/>
                    </div>
                    break;
                case ContactType.Email:
                    <div class="phones-wrap">
                        <h6 class="subTitle">@await Html.RenderText("Emails")</h6>
                        <a href="mailto:@item.Link">@item.Link</a>
                        <br/>
                    </div>
                    break;
                case ContactType.Address:
                    <div class="address-wrap">
                        <h6 class="subTitle">@await Html.RenderText("Address")</h6>
                        <p>@item.Link</p>
                    </div>
                    break;
                case ContactType.Other:
                    <div class="phones-wrap">
                        <h6 class="subTitle">@await Html.RenderText("Other")</h6>
                        <a href="@item.Link">@item.Link</a>
                        <br/>
                    </div>
                    break;
            }
        }

    </div>

</div>