@using App.cms.Helpers
@using App.cms.Models
@using App.cms.StaticHelpers
@using App.Models
@model App.ViewModels.Common.HeaderViewModel

@{
    Layout = null;
    var virtualityMenus = new List<Menu>
    {
        Menu.Home,
        Menu.Book,
        Menu.Services,
        Menu.Contacts
    };

    var languages = Enum.GetValues<TextLanguage>();
    var currentLanguage = CookieHelper.GetLanguage(Context);
}


<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

    <a href="/logincms" class="d-flex align-items-center mb-3 mb-md-0 me-3 ms-5 link-body-emphasis text-decoration-none">
        <span class="fs-4">@await Html.RenderText("Login")</span>
    </a>

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto me-5 link-body-emphasis text-decoration-none">
        <span class="fs-4">@(Model.CompanyName)</span>
    </a>

    <ul class="nav nav-pills">
        @if (Model.CurrentPage == Menu.Blog)
        {
            <li class="nav-item">
                <a class="nav-link active" href="/Blog/Index">
                    <span>@await Html.RenderText("Blog")</span>
                </a>
            </li>
        }
        else
        {
            @foreach (var menu in Model.Menus.Where(w => virtualityMenus.Contains(w.Menu)))
            {
                <li class="nav-item">
                    <a class="nav-link @(menu.Menu == Model.CurrentPage ? "active" : "")" href="@menu.Href">
                        <span>@menu.Title</span>
                    </a>
                </li>
            }
        }
    </ul>
    
    
    <div class="d-flex me-5 ms-5">
        <select class="form-select .form-select-lg" aria-label=".form-select-lg" data-style="btn btn-primary" onchange="changeLanguage()">
            @foreach (var language in languages)
            {
                var flag = "";
                switch (language)
                {
                    case TextLanguage.English:
                        flag = "en";
                        break;
                    case TextLanguage.Russian:
                        flag = "ru";
                        break;
                    case TextLanguage.Portuguese:
                        flag = "pt";
                        break;
                }
                <option value="@language" @(currentLanguage == language ? "selected" : "")>@language</option>
            }
        </select>
        
        <script>
            function changeLanguage() {
                var language = document.querySelector("select").value;

                var url = new URL(window.location.href);

                if (url.searchParams.has('language')) {
                    url.searchParams.set('language', language);
                } else {
                    url.searchParams.append('language', language);
                }
                window.location.href = url.toString();
            }
        </script>
    </div>

</header>
