@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.Models
@using App.Utils
@model App.ViewModels.Views.DateViewModel

@{
    Layout = null;
    var value = Model.Date?.ToString("yyyy-MM-dd");
    var disabled =  Model.Enabled ? "" : "disabled";
}

<div class="text-start">
    <label class="text4 text-gray mb-2 text-start text-non-caps" for="@(Model.NameTag.RemoveWhitespace())">
        @await Html.RenderText(Model.NameTag)
    </label>
    <input data-val="true"
           class="input form-control text4 text-black"
           id="@(Model.NameTag.RemoveWhitespace())"
           name="@(Model.NameTag.RemoveWhitespace())"
           type="date"
           value="@value"
           onchange="@Model.OnChangeOnChangeScript"
           @disabled>
</div>
