@inject CatsoftContext DbCatsoftContext
@inject TextResourceRepository TextResourceRepository
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.Models
@using InputType = App.ViewModels.Views.InputType
@model App.ViewModels.Views.InputViewModel
@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
    var disabled =  Model.Enabled ? "" : "disabled";
}

<div class="row form-group pb-2 pt-2 col-6 offset-3">
    @if (Model.Type != InputType.Hidden)
    {
        <label for="@Model.PropertyName">@await Html.RenderText(Model.LabelTag)</label>
    }

    <input name="@Model.PropertyName" value="@Model.Value" type="@Model.Type" id="@Model.PropertyName" @disabled class="form-control"/>
</div>