@inject CatsoftContext DbCatsoftContext
@inject TextResourceRepository TextResourceRepository
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.Models
@using App.Utils
@model App.ViewModels.Views.SelectorViewModel
@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
    var propertyName = Model.Label.RemoveWhitespace();
    var text = await TextResourceRepository.GetByTagAsync("Not selected");
    var selectList = Model.Options.Select(w => new SelectListItem
    {
        Text = w.Label,
        Value = w.Value,
        Selected = w.Value == Model.SelectedValue
    }).ToList();
    selectList.Insert(0, new SelectListItem { Value = "", Text = text });
}

<span class="fw-bold">
    @await Html.RenderText(Model.Label)
</span>

<select class="form-select" aria-label="@await TextResourceRepository.GetByTagAsync(Model.Label)" onchange="@Model.OnChangeScript"
        id="@propertyName" name="@propertyName">
    @foreach (var i in Model.Options)
    {
        var selected = i.Value == Model.SelectedValue ? "selected" : "";
        <option value="@i.Value" @selected>@i.Label</option>
    }
</select>
